header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
  
img.logo{
    height: 50  px;
    width: 50px;
    color: inherit;
}
  
header a{
    color: inherit;
    font-size: 20px;
}
  
header nav a{
    text-decoration: none;
    padding: 5px 10px;
}
  
header nav.center{
    text-align: center;
}
  
header nav.right{
    text-align: right;
    margin: 0px 20px;
}