<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../html/css/style.css">
    <link rel="stylesheet" href="../html/js/script.js">
    <title>Document</title>
</head>
<body>
    <div class="holster">
        <div class="container y mandatory-scroll-snapping" dir="ltr">
          <div>Chat App</div>
          <div>Bejelentkezés</div>
          <div>Szerver</div>
          <div>Kliens</div>
          <div>Műveletek</div>
        </div>
      </div>
</body>
</html>