<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/js/scroll.js" />
		<link rel="stylesheet" href="../static/js/script.js" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500&display=swap" rel="stylesheet" />
		<link rel="icon" type="image/png" href="{{ url_for('static',filename='img/logo-fb.png') }}" />
		<title>Chat App</title>
	</head>
	<body>
		<header>
			<img src="../static/img/logo.png" alt="logo" class="logo" />

			<nav class="center desktop">
				<a href="">dia1</a>
				<a href="">dia2</a>
				<a href="">dia3</a>
				<a href="">dia4</a>
				<a href="">dia5</a>
				<a href="">dia6</a>
			</nav>

			<nav class="right">
				<a href="" class="menuBTN" id="menuBTN">Menü</a>
			</nav>
		</header>
		<div class="backdrop"></div>
		<aside>
			<button class="close">&times;</button>
			<a href="">dia1</a>
			<a href="">dia2</a>
			<a href="">dia3</a>
			<a href="">dia4</a>
			<a href="">dia5</a>
			<a href="">dia6</a>
			<a href="">Üzenetek</a>
			<a href="">Bejelentkezés</a>
			<a href="">Regisztráció</a>
		</aside>

		<section style="background-image: url('../photos/kep1.png')">
			<div class="content">
				<h1>Chat App</h1>
				<div class="diak"></div>
				<div class="buttons">
					<a href="login.html">Bejelentkezés</a>
					<a href="chat.html">Üzenetek</a>
				</div>
			</div>
		</section>

		<section style="background-image: url('../photos/kep2.jpg')">
			>
			<div class="content">
				<h1>Chat App</h1>
				<div class="diak"></div>
				<div class="buttons">
					<a href="login.html">Bejelentkezés</a>
					<a href="chat.html">Üzenetek</a>
				</div>
			</div>
		</section>

		<section style="background-image: url('../photos/kep3.webp')">
			>
			<div class="content">
				<h1>Chat App</h1>
				<div class="diak"></div>
				<div class="buttons">
					<a href="login.html">Bejelentkezés</a>
					<a href="chat.html">Üzenetek</a>
				</div>
			</div>
		</section>

		<section style="background-image: url('../photos/kep4.jpg')">
			>
			<div class="content">
				<h1>Chat App</h1>
				<div class="diak"></div>
				<div class="buttons">
					<a href="login.html">Bejelentkezés</a>
					<a href="chat.html">Üzenetek</a>
				</div>
			</div>
		</section>

		<section style="background-image: url('../photos/kep5.jpg')">
			>
			<div class="content">
				<h1>Chat App</h1>
				<div class="diak"></div>
				<div class="buttons">
					<a href="login.html">Bejelentkezés</a>
					<a href="chat.html">Üzenetek</a>
				</div>
			</div>
		</section>

		<section style="background-image: url('../photos/kep6.jpg')">
			">
			<div class="content">
				<h1>Chat App</h1>
				<div class="diak"></div>
				<div class="buttons">
					<a href="login">Bejelentkezés</a>
					<a href="chat">Üzenetek</a>
				</div>
			</div>
		</section>
		<script src="../html/js/script.js"></script>
		<script src="../html/js/scroll.js"></script>
	</body>
</html>
