<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/style.css" />
		<link rel="stylesheet" href="assets/js/script.js" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="">
			<a href="#" class="float">
				<i class="fa fa-plus my-float"></i>
				<link rel="Chat" href="message.html" style="text-decoration: none" class="message" />
				Üzenetek
			</a>
		</div>
		<div>
			<a href="#2" class="float2">
				<i class="fa fa-plus my-float"></i>
				<link rel="Bejelentkezés" href="login-html" style="text-decoration: none" class="login" />
				Bejelentkezés
			</a>
		</div>
		<div class="holster">
			<div class="container y mandatory-scroll-snapping" dir="ltr">
				<div>Chat App</div>
				<div>Bejelentkezés</div>
				<div>Szerver</div>
				<div>Kliens</div>
				<div>Műveletek</div>
			</div>
		</div>
	</body>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>
